

@import "../bootstrap-sass/assets/stylesheets/bootstrap";
@import "../font-awesome-sass/font-awesome";
@import "_variables";
@import "_mixins";



* {
	box-sizing:border-box;
}

.container {
	width: $yourWidth;
	
	margin: 0 auto;
	padding: 0px;
}


#navgation {
	ul {
		margin-top:10px;
		padding-left:0px;
		padding-bottom:20px;



		li {
			list-style:none;
			display:inline-block;

			a {text-decoration:none;
				font-size:20px;
				color:black;
				display:block;
				margin-right:2px;
				padding-left:4px;
				padding-right:4px;
				border:solid 2px black;
				background-color: white;
				&:hover {
					color:white;
					background-color: black;
					
				}
			}


		}
	} 


}

.fix {
	display:flex;
}

.fixCenter {
	align-items:center;
	justify-content:center;
} 

.slider {
	
		background-image: url(../images/konie.jpg);
		background-position: center;
		background-repeat: no-repeat;
		width:1140px;
		height:514px;
		margin:0 auto;

		p {
			background-color: black;
			color:white;
			font-size:30px;

		}
	
}

.inform {
	.col-md-4 {
		ol { 
			li:nth-child(2)::before {
				content: "\25A0";
				color: red;
				position:absolute;
				bottom:55px;
			}
			li {position:relative;
				padding-top:10px;
				list-style:none;
				i {
					font-size: 30px;
				
					@extend .center-block;
					@extend .text-center;
				}
			}
		
		}
	}

}

#footer {
	background-color: $backgrColor;

	ul {
		// padding-left:56px;


		li {

		}
	}
}

.blg {
	.redSquar {
		width: 2px;
		height: 2px;
		background-color:red;
	}
	p {position:relative;
		margin-top:15px;
		margin-bottom:15px;
		&:nth-child(3):before {
				content: "\25A0";
				color: red;
				position:absolute;
				bottom:12px; 
		}
		&:nth-child(3):after {
				content: "\25A0";
				color: red;
				position:absolute;
				left: 0px;
				top:13px; 
		}
		// &:nth-child(4) {
		// 	content: "\25A0";
		// 		color: red; 
		// }
		&:nth-child(8):before {
			content: "\25A0";
				color: red;
				position:absolute;
				bottom:206px;  
		}

	}
	& img:nth-child(2) {
		height:200px;
	}
	& img:nth-child(4) {
		height:140px;
		
	}

}

.blackTab {
	padding: 6px;
	color: white;
	background-color: black;
	border: dashed red 4px;
}

.colBackgr {
	background-color: $backgrColor;
}

.form {
	@extend .colBackgr;
	border: solid 2px black;
	width:40%;
	
}
.input-group, .checkbox, {
		padding:10px;
	}

#horseGaller {
	img {
		margin: 0 auto;
	}
	

}
.btn-default {
	margin: 10px;

}